.member {
  display: grid;
  grid-template-rows: auto 1fr;
  margin: 20px 0 20px 0;
  &__name {
    font-size: 1.6vw;
  }
  &__description {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 980px) {
  .member {
    &__name {
      font-size: 4.5vw;
    }
    &__description {
      font-size: 3vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .member {
    &__name {
      font-size: 7vw;
    }
    &__description {
      font-size: 6vw;
    }
  }
}