<header class="header header__section">
  <div class="section__image">
    <img src="assets/img/rana.png" />
  </div>
  <div class="section__title">
    <label class="font--niagara title">{{
      "COMPONENTS.HEADER.TITLE" | translate
    }}</label>
  </div>
  <div class="section__action">
    <select (change)="changeLanguage($event.target)" id="select--lang">
      <option value="en" class="font__sf">English</option>
      <option value="fr" class="font__sf">Français</option>
    </select>
  </div>
</header>
