<section class="wrapper">
  <div class="wrapper__img">
    <img src="assets/img/BATH.png" />
    <div class="card__project">
      <label class="font__sf--bold">{{
        "COMPONENTS.PROJECT.TITLE" | translate
      }}</label>
    </div>
  </div>
  <div class="wrapper__title">
    <label class="font__sf--bold">{{
      "COMPONENTS.PROJECT.HEADER" | translate
    }}</label>
    <img src="assets/img/checkmark.svg" />
  </div>
  <div class="wrapper__explanation">
    <label class="font__sf explanation__left">{{
      "COMPONENTS.PROJECT.EXPLANATION_LEFT" | translate
    }}</label>
    <label class="font__sf explanation__right">{{
      "COMPONENTS.PROJECT.EXPLANATION_RIGHT" | translate
    }}</label>
  </div>
  <div class="wrapper__cards">
    <rana-card
      class="cards__project"
      [icon]="'assets/img/bookmark.svg'"
      label="COMPONENTS.PROJECT.FIRST_CARD_LABEL"
      content="COMPONENTS.PROJECT.FIRST_CARD_CONTENT"
    ></rana-card>
    <rana-card
      class="cards__numeric"
      [icon]="'assets/img/directory.svg'"
      label="COMPONENTS.PROJECT.SECOND_CARD_LABEL"
      content="COMPONENTS.PROJECT.SECOND_CARD_CONTENT"
    ></rana-card>
    <rana-card
      class="cards__share"
      [icon]="'assets/img/hand.svg'"
      label="COMPONENTS.PROJECT.THIRD_CARD_LABEL"
      content="COMPONENTS.PROJECT.THIRD_CARD_CONTENT"
    ></rana-card>
  </div>
</section>
