.wrapper {
  display: grid;
  margin-top: 8vw;
  margin-bottom: 8vw;
  column-gap: 20px;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  &__left {
    grid-column-start: 2;
    grid-template-rows: auto auto 1fr;
    row-gap: 20px;
  }
  &__right {
    grid-column-start: 3;
  }
  &__image {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  &__text {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
  }
  &__title {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
    label {
      font-size: 2vw;
    }
    img {
      width: 30px;
    }
  }
}

.wrapper__right {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 10px;
  .maps {
    display: grid;
    row-gap: 10px;
  }
}

.card {
  border: 2px solid var(--ra-color-primary-light);
  background-color: var(--ra-color-primary-light);
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px;
  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 20px;
  }
  &__chips {
    text-align: end;
  }
  &__content {
    margin-left: 50px;
    margin-top: 10px;
  }
}

.actions {
  button {
    margin-right: 10px;
  }
}
