<div class="wrapper">
  <div class="wrapper__left">
    <div class="wrapper__title">
      <label class="font__sf--bold">Roadmap</label>
      <img src="assets/img/checkmark.svg" />
    </div>
    <div class="wrapper__text">
      <label class="font__sf color--grey"
        >Une vision plus claire sur l'avancement du projet et la portée de ce
        dernier</label
      >
    </div>
    <div class="wrapper__image">
      <img src="assets/img/rana.png" height="350" />
    </div>
  </div>
  <div class="wrapper__right">
    <div class="maps">
      <rana-roadmap-card
        *ngFor="let map of roadmap"
        [content]="map"
      ></rana-roadmap-card>
    </div>
  </div>
</div>
