.wrapper {
  height: 100vh;
  display: grid;
  align-items: center;
  text-align: center;
  &__title {
    font-size: 3vw;
    grid-column-start: 2;
  }
  &__content {
    display: grid;
    grid-template-rows: repeat(5, minmax(80px, auto));
    grid-template-columns: 20vw 1fr 20vw;
    row-gap: 20px;
    align-items: center;
  }
}

.question {
  grid-column-start: 2;
}

@media screen and (max-width: 980px) {
  .wrapper {
    &__title {
      font-size: 8vw;
    }
    &__content {
      grid-template-columns: 50px 1fr 50px;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: inherit;
    padding-top: 50px;
    padding-bottom: 50px;
    &__title {
      font-size: 12vw;
    }
    &__content {
      grid-template-columns: 30px 1fr 30px;
    }
  }
}