.presentation {
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-items: center;
  text-align: center;
  row-gap: 10px;
  overflow: hidden;
}

img {
  width: 100%;
}

.title {
  font-size: 10vw;
}

.subtitle {
  font-size: 2vw;
}

@media screen and (max-width: 980px) {
  img {
    height: 100vh;
    object-fit: cover;
  }

  .title {
    font-size: 10vw;
  }

  .subtitle {
    font-size: 4vw;
  }
}

@media screen and (max-width: 500px) {
  img {
    height: 175vh;
  }

  .title {
    padding: 0 30px;
    font-size: 30vw;
  }

  .subtitle {
    padding: 0 30px;
    font-size: 10vw;
  }
}
