.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 1fr;
  &__content {
    background-color: var(--ra-color-light);
  }
}

@media screen and (max-width: 980px) {
  .container {
    grid-template-rows: 100px 1fr;
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-rows: 120px 1fr;
  }
}
