.bottom {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
  width: 100%;
  overflow: hidden;
  img {
    width: inherit;
  }
  &__banniere {
    float: left;
    position: absolute;
    z-index: 8;
    background-color: var(--ra-color-dark);
    height: 100%;
    color: #ffffff;
    width: 50%;
    font-weight: bold;
  }
  &__content {
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding: 5vw;
    height: -webkit-fill-available;
    .title {
      font-size: 4vw;
    }
    .content {
      font-size: 1.5vw;
      margin-top: 2vw;
    }
    .action {
      align-items: end;
      justify-content: start;
      display: grid;
    }
  }
}

@media screen and (max-width: 980px) {
  .bottom {
    img {
      width: 125%;
    }
    &__content {
      padding: 6.5vw;
      .title {
        font-size: 5vw;
      }
      .content {
        font-size: 3vw;
      }
    }
  }
  button {
    label {
      font-size: 3vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .bottom {
    img {
      width: 150%;
    }
    &__banniere {
      width: 70%;
    }
    &__content {
      padding: 8vw;
      .title {
        font-size: 15vw;
      }
      .content {
        font-size: 9vw;
      }
    }
  }
  button {
    label {
      font-size: 9vw;
    }
  }
}
