<footer class="bottom">
  <img src="assets/img/banniere.png" />
  <div class="bottom__banniere">
    <div class="bottom__content">
      <label class="font__sf--bold color--light title"
        >Alors, prêt à détenir une part de BD ?</label
      >
      <label class="font__sf color--grey content"
        >Si l'univers te correspond et que tu as envie de te lancer dans un
        projet qui a du sens, alors tu es le bienvenue. Ensemble, passons du
        numérique au physique.</label
      >
      <div class="action">
        <button type="button" class="button button--primary" (click)="redirectRana()">
          <label class="font__sf--medium">Rejoins nous</label>
        </button>
      </div>
    </div>
  </div>
</footer>
