<footer class="bottom">
  <img src="assets/img/banniere.png" />
  <div class="bottom__banniere">
    <div class="bottom__content">
      <label class="font__sf--bold color--light title">{{
        "COMPONENTS.BOTTOM.TITLE" | translate
      }}</label>
      <label class="font__sf color--grey content">{{
        "COMPONENTS.BOTTOM.SUBTITLE" | translate
      }}</label>
      <div class="action">
        <button
          type="button"
          class="button button--primary"
          (click)="redirectRana()"
        >
          <label class="font__sf--medium">{{
            "COMPONENTS.BOTTOM.ACTION" | translate
          }}</label>
        </button>
      </div>
    </div>
  </div>
</footer>
