.faq {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 100px auto;
  background-color: var(--ra-color-primary-light);
  align-items: center;
  border-radius: 5px;
  padding: 0 20px;
  &__title {
    text-align: start;
    font-size: 1vw;
  }
  &__content {
    text-align: start;
    padding: 5px 0;
  }
}

@media screen and (max-width: 980px) {
  .faq {
    &__title {
      label {
        font-size: 3vw;
      }
    }
    &__content {
      label {
        font-size: 3vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .faq {
    &__title {
      label {
        font-size: 6vw;
      }
    }
    &__content {
      label {
        font-size: 5vw;
      }
    }
  }
}
