.wrapper {
  display: grid;
  background-color: var(--ra-color-dark);
  grid-template-columns: 40% 1fr;
  &__content {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 100px;
  }
  &__title {
    display: grid;
    column-gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
    label {
      font-size: 2vw;
    }
    img {
      width: 30px;
    }
  }
  &__img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    img {
      border-radius: 10px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      mix-blend-mode: luminosity;
    }
  }
}

.selected {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  mix-blend-mode: unset !important;
}

img {
  width: 15vw;
}

.members {
  margin-top: 3vw;
  display: grid;
}

@media screen and (max-width: 980px) {
  .wrapper {
    &__content {
      padding-top: 100px;
      padding-left: 50px;
      padding-right: 50px;
    }
    &__img {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
    &__title {
      label {
        font-size: 6vw;
      }
    }
  }
  picture {
    img {
      width: 30vw;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    grid-template-columns: 10px 1fr 10px;
    &__content {
      padding-left: 20px;
      padding-right: 20px;
      grid-column-start: 2;
    }
    &__title {
      grid-column-start: 2;
      label {
        font-size: 8vw;
      }
    }
    .members {
      &:first-child {
        grid-row-start: 2;
        grid-column-start: 2;
      }
      &:last-child {
        grid-row-start: 3;
        grid-column-start: 2;
      }
    }
    &__img {
      grid-column: 2;
      grid-template-columns: 1fr 1fr;
    }
    picture {
      img {
        width: 40vw;
      }
    }
  }
}
