.comic {
  margin-top: 10vw;
  text-align: center;
  &__title {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    label {
      font-size: 2vw;
      grid-column-start: 2;
    }
  }
  &__content {
    position: relative;
  }
}

.content {
  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: var(--ra-color-dark);
    &::after {
        color: red;
    }
  }
}

img {
  height: 30vw;
}
