<section class="comic">
  <div class="content">
    <div class="comic__content">
      <label class="content__label font__sf--bold"
        >Et si vous déteniez <br />une part de BD ?</label
      >
      <img src="assets/img/comics.svg" />
    </div>
    <div class="comic__title">
      <label class="font__sf--bold"
        >Aujourd'hui l'idée peut se réaliser grâce aux NFTs 📖<br />
        En participant au projet Rana, vous prendrez part à une première <br />
        mondiale🥇la création d'un comics grâce à la blockchain.</label
      >
    </div>
  </div>
</section>
