<section class="comic">
  <div class="content">
    <div class="comic__content">
      <label class="content__label font__sf--bold">{{
        "COMPONENTS.COMIC.TITLE" | translate
      }}</label>
      <img src="assets/img/comics.svg" />
    </div>
    <div class="comic__title">
      <label class="font__sf--bold">{{
        "COMPONENTS.COMIC.SUBTITLE_PART_1" | translate
      }}</label
      ><br />
      <label class="font__sf--bold">{{
        "COMPONENTS.COMIC.SUBTITLE_PART_2" | translate
      }}</label
      ><br />
      <label class="font__sf--bold">{{
        "COMPONENTS.COMIC.SUBTITLE_PART_3" | translate
      }}</label>
    </div>
  </div>
</section>
