.comic {
  margin: 10vh 0;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  &__title {
    margin-top: 2vw;
    label {
      font-size: 2vw;
    }
  }
  &__content {
    position: relative;
  }
}

.content {
  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: var(--ra-color-dark);
    z-index: 8;
    &::after {
      color: red;
    }
  }
}

img {
  height: 30vw;
  opacity: 50%;
}

@media screen and (max-width: 980px) {
  img {
    height: 70vw;
  }
  .comic__title {
    label {
      font-size: 3.5vw;
    }
  }
  .content__label {
    font-size: 9vw;
  }
}

@media screen and (max-width: 600px) {
  img {
    height: 50vh;
  }
  .comic__title {
    padding: 30px;
    label {
      font-size: 7.7vw;
    }
  }
  .content__label {
    font-size: 13vw;
  }
}
