<section class="nfts nfts__content">
  <section class="nfts__list">
    <label
      *ngFor="let nft of nfts; let i = index"
      id="nft__{{ i }}"
      class="nfts__title font__sf--bold"
      [ngClass]="getActiveNft(nft) ? 'active--link' : ''"
      (click)="onNftLabelClick(nft)"
      >{{ nft | translate}}</label
    >
    <div class="nfts__all clickable" (click)="redirectWax()">
      <label class="nfts__title nfts__title--other font__sf--bold">{{
        "COMPONENTS.NFTS.OTHERS" | translate
      }}</label>
    </div>
  </section>
  <aside class="nfts__show">
    <img [src]="nftImage" />
  </aside>
</section>
